@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: Nunito Sans;

  }

  body{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    padding-top: 10vw;
    padding-bottom: 5vw;
  
    /* fill container = 100% di figma = 100% di javascript */
    width: 100%;
    min-height: 100vh;
  
    background-color: #f4f4f4;
    gap: 32px;
  }
  
  .cta-button-disabled{
    background-color: rgb(150, 150, 150);
    cursor: not-allowed;
  }

  .cta-button-enabled{
    background-color: #1B3155;
  }