.navbar{
    background-color: #ffffff;
    display: flex;
    gap: 12px;
    padding: 24px;
    border-radius: 24px;
    color: lightgray;
    text-decoration: none;
}



.active{
 color: black;
 font-weight: 700;
}
.default{
    color: rgb(150, 150, 150);
}